.banner {
    .title {
        max-width: 425px;
    }
}

.subscribe-form{
    input{
        padding: 20px;
        border-radius: 3px;
        @media(max-width: 640px){
            padding: 10px 15px;
        }
    }
}