.text-gray{
    color: #113355 !important;
    opacity: .70;
}
.text-primary{
    color: $primaryColor !important;
}

.text-black{
    color: #000 !important;
}
.text-dark{
    color: #5b616e !important;
}
.text-green{
    color: #098551 !important;
}
.bg-green{
    background-color: #098551 !important;
}