.font-title{
    font-family: $fontTitle;
}

// Typography
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    font-family: $fontTitle;
}

.h1,
h1 {
    font-size: rem(45);
    @media(max-width: 767px){
        font-size: rem(30);
    }
}

.h2,
h2 {
    font-size: rem(45);
    @media(max-width: 1023px){
        font-size: rem(30);
    }
    @media(max-width: 639px){
        font-size: rem(26);
    }
}

.h3,
h3 {
    font-size: rem(28);
    @media(max-width: 767px){
        font-size: rem(20);
    }
}

.h4,
h4 {
    font-size: rem(25);
}

.h5,
h5 {
    font-size: rem(20);
}

.h6,
h6 {
    font-size: rem(18);
}

p{
    line-height: 1.4;
}

a{
    outline: none;
    transition: color .2s ease-in-out;
    &:hover{
        text-decoration: underline;
        color: rgb(0,75,235);
    }
}

// font-weight
.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

// font-size
.fz10 {
    font-size: 10px;
}

.fz12 {
    font-size: rem(12) !important;
    @media(max-width: 575px){
        font-size: 10px !important;
    }
}

.fz14 {
    font-size: rem(14);
    @media(max-width: 575px){
        font-size: 10px;
    }
}

.fz16 {
    font-size: rem(16);
}

.fz18 {
    font-size: rem(18);
    @media(max-width: 575px){
        font-size: 14px;
    }
}

.fz20 {
    font-size: rem(20);
    @media(max-width: 575px){
        font-size: 12px;
    }
}
.fz22 {
    font-size: rem(22);
    @media(max-width: 575px){
        font-size: 12px;
    }
}

.fz24 {
    font-size: rem(24);
}

.fz28 {
    font-size: rem(28);
}

.fz32 {
    font-size: rem(32);
    @media(max-width: 1200px){
        font-size: 24px;
    }
    @media(max-width: 575px){
        font-size: 18px;
    }
}

.fz38 {
    font-size: rem(38);
    @media(max-width: 1200px){
        font-size: 28px;
    }
    @media(max-width: 575px){
        font-size: 20px;
    }
}
.fz40 {
    font-size: rem(40);
    @media(max-width: 1200px){
        font-size: 28px;
    }
    @media(max-width: 575px){
        font-size: 20px;
    }
}

.fz48 {
    font-size: rem(48);
    @media(max-width: 1200px){
        font-size: 32px;
    }
    @media(max-width: 575px){
        font-size: 24px;
    }
}

.fz56 {
    font-size: rem(56);
    @media(max-width: 1200px){
        font-size: 32px;
    }
    @media(max-width: 575px){
        font-size: 24px;
    }
}

.fz62 {
    font-size: rem(62);
    @media(max-width: 1200px){
        font-size: 48px;
    }
    @media(max-width: 575px){
        font-size: 28px;
    }
}