$white: #ffffff;
$black: #000000;

$dark: #333333;
$lightDark: #4F4F4F;

$gray: #828282;
$darkGray: #4C4C4C;
$lightGray: #FAFAFA;

// Theme Colors
$primaryColor: #0052ff;

$baseTextColor: #050f19;       
$lightTextColor: #FFF;       

$bodyBg: $white;
$lightBg: #F9F9F9;
$footerBg: #FAFAFA;

$border: rgba(#000, 0.06);
$error: #FF3326;

$baseFontSize: 16;
$fontPrimary: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontTitle: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
